[flake8]
exclude = .git,__pycache__,venv,migrations,__init__.py
max-complexity = 12
import-order-style = google
application-import-names = config, handlers, logger
max-line-length = 120
black-config = pyproject.toml
inline-quotes = "
